$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$super-light-red: #fbe9e8;
$light-red: #f4bbb9;
$medium-red: #ee736f;
$dark-red: #b13730;
$background-grey: #ececec;
$font-grey: #666666;
