.hello-actions {
  position: absolute;
  top: 5px;
  right: 0;
  #dropdownMenuButton1 {
    background-color: transparent;
    border: none;
    color: black;
  }
  .dropdown-toggle::after {
    display: none;
  }
  .fa-solid.fa-bars {
    font-size: 20px;
    color: $medium-red;
  }
}

.border-tableau{
  margin: 0 auto;
  border-bottom: solid 2px #f4bbb9;
  width: 80%;
  padding-top: 10px;
}

.rectangle {
  position: relative;
  padding: 20px;
  border: solid 2px $light-red;
  border-radius: 20px;
}

.title-rectangle {
  border-bottom: solid 2px $light-red;
  padding: 3px 0;
}

.title-red {
  color: $medium-red;
  font-size: 20px;
  font-family: $headers;
}

body {
  font-family: $body;
}

.alerte-rattrapages {
  background-color: $super-light-red;
  font-size: 13px;
  color: $dark-red;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  gap: 5px;
  align-items: center;
}

.text-alerte-rattrapage {
  padding-top: 10px;
  width: 190px;
  text-align: left;
}

.alerte-rattrapages-select {
  background-color: $super-light-red;
  font-size: 13px;
  color: $dark-red;
  padding: 5px;
  display: flex;
  border-radius: 10px;
  align-items: center;
  margin: 10px;
}

.text-alerte-rattrapage {
  padding-top: 10px;
  width: 190px;
}

.alerte-icone {
  font-size: 35px;
  padding: 20px;
}
