.hello {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

.hello-texte {
  text-align: center;

  h1 {
    margin: 10px 12px 0px 12px;
  }

  h2 {
    font-family: $body;
    font-size: 15px;
    color: $font-grey;
  }

  h3 {
    font-family: $body;
    font-size: 12px;
    color: $font-grey;
  }

  h1 {
    font-family: $headers;
    font-size: 26px;
  }
}

.hello-actions {
  position: absolute;
  top: 5px;
  right: 0;
  #dropdownMenuButton1 {
    background-color: transparent;
    border: none;
    color: black;
  }
  .dropdown-toggle::after {
    display: none;
  }
  .fa-solid.fa-bars {
    font-size: 20px;
    color: $medium-red;
  }
}

#collapseTeachers {
  position: absolute;
  width: 170px;
  left: 0px;
  padding: 10px;
  background-color: rgb(236, 236, 236);
  border-radius: 0px 0px 20px 20px;
  margin-top: -10px;
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition: all 0.25s ease-in;
}

.course {
  background-color: $background-grey;
  border-radius: 20px;
  padding: 5px 20px;
  margin-top: 13px;
  width: 170px;
  position: relative;
  z-index: 1;
}

.border-tableau{
  margin: 0 auto;
  border-bottom: solid 2px #f4bbb9;
  width: 80%;
  padding-top: 10px;
}

.rectangle {
  position: relative;
  padding: 20px;
  border: solid 2px $light-red;
  border-radius: 20px;
}

.margin-rectangle-dashboard {
  margin: 30px 20px 50px;
}

.absences-content {
  padding-top: 20px;
  margin-bottom: 15px;
}

.title-rectangle {
  border-bottom: solid 2px $light-red;
  padding: 3px 0;
}

.title-red {
  color: $medium-red;
  font-size: 20px;
  font-family: $headers;
}

body {
  font-family: $body;
}

.alerte-rattrapages {
  background-color: $super-light-red;
  font-size: 13px;
  color: $dark-red;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  gap: 5px;
  align-items: center;
}

.text-alerte-rattrapage {
  padding-top: 10px;
  width: 190px;
  text-align: left;
}

.alerte-rattrapages-select {
  background-color: $super-light-red;
  font-size: 13px;
  color: $dark-red;
  padding: 5px;
  display: flex;
  border-radius: 10px;
  align-items: center;
  margin: 10px;
}

.text-alerte-rattrapage {
  padding-top: 10px;
  width: 190px;
}

.alerte-icone {
  font-size: 35px;
  padding: 20px;
}

.required-course {
  font-size: 14px;
}
