<div class="d-none blur-modale" data-confirmation-target="modal">
  <div class="modale-conf">
    <div class="sentence" data-confirmation-target="sentence"></div>
      <div class="alerte-rattrapages-select">
        <i class="fa-solid fa-triangle-exclamation alerte-icone"></i>
        <p class="text-alerte-rattrapage"><%= sentence %></p>
      </div>
    <button data-action="click->confirmation#submit" class="btn-confirmation btn-red-modal">Oui</button>
    <button data-action="click->confirmation#cancel" class="btn-confirmation btn-red-modal">Non</button>
  </div>
</div>
