<div class="container background-rattrapage-select pb-100px">

  <%= render partial:'/shared/navbar', locals: {title: "Choisir un rattrapage"} %>

  <div class="text-dispo-rattrapage">
    <h2>Sélectionne ton rattrapage sur les disponibilités ci-dessous</h2>
  </div>

  <div class="calendar-rattrapage" data-controller="rattrapage">

    <%= simple_form_for(@lesson, html: {data: {controller: 'flatpickr'}}) do |f| %>
      <%= f.input :occurs_on, as: :string, label: false, input_html: { class: 'd-none', data: { flatpickr_target: 'arraydata', flatpickr_available_dates_string: @available_dates_string, rattrapage_target: 'input', action: 'change->rattrapage#validate' } } %>
      <%= f.button :submit, 'Voir les cours', class: 'btn btn-red btn-valid-abs', data: { rattrapage_target: "button" } %>
    <% end %>

  </div>

</div>
