<h1>Informations</h1>
<h2>Voici les informations pour te rendre à ton cours de rattrapage.</h2>

<p><%= I18n.l(@lesson.occurs_on, format: "%A %-d %B %kh", locale: :fr) %></p>
<p><%= Course.find(@lesson.course_id).location %></p>

<%= link_to "Retour", root_path %>
