<div class="container show-rattrapage-detail pb-100px">

  <%= render partial:'/shared/navbar', locals: {title: "Informations"} %>

  <div class="text-index-rattrapage-detail">
    <h2>Voici les informations pour te rendre à ton cours de rattrapage.</h2>
  </div>

  <%= render partial:'/shared/details', locals: {lesson: @lesson} %>

  <%= link_to "Retour", root_path, class:'btn-red-small-rattrapage-detail btn-left-rattrapage-detail' %>
</div>
