.background {
  background-color: $light-red;
  background-size: cover;
  height: 120vh;
  width: 100vw;
}

.background-signin {
  background-color: $light-red;
  background-size: cover;
  height: 120vh;
  width: 100vw;
}

.background-form {
  background-color: white;
  border-radius: 30px;
  margin: 10px;
}

.background-padding-new-session {
  padding: 20px;
}

.background-padding-new-registration {
  padding: 40px 20px;
}

.background-new {
  position: absolute;
  width: 360px;
  top: 135px;
  left: 5%;
}

.background-new-signin {
  position: relative;
  margin-top: -95px;
}

.background-home {
  background-color: white;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.background-absence {
  background-color: white;
  background-size: cover;
  height: 130vh;
  width: 100vw;
}

.background-absence-decla {
  background-color: white;
  background-size: cover;
  height: 130vh;
  width: 100vw;
}
