.calendar-abs{
  margin: 0 auto;
  padding-top:20px;
}

.flatpickr-calendar{
  border-radius: 20px;
  border: solid 1px $light-red;
  font-size: 14px;
  width:100%
}

.flatpickr-rContainer{
  width: 100%;
}

.flatpickr-months{
  border-bottom: solid 1px $light-red;
  padding: 10px 0 15px 0;
}

.flatpickr-weekdays{
  width: 100% !important;
  height: 55px !important;
}

span.flatpickr-weekday{
  color:#252525;
  font-weight: bold !important;
}

.flatpickr-day {
  color: black;
}

.flatpickr-day.selected {
  color: #f4bbb9;
  font-size: 16px;
  border-color: transparent !important;
  font-weight: bold !important;
  background-color: transparent;
  text-decoration: underline;
}

.flatpickr-days{
  width: 100%;
  display: block;
}

.dayContainer{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 0 34px;
  margin-left:30px;
  padding-bottom: 50px;
}

.flatpickr-prev-month, .flatpickr-next-month {
    padding-top: 18px !important;
}
