.absence-jour {
  background-color: $background-grey;
  border-radius: 10px;
  padding: 5px 35px;
  margin-top: 13px;
  text-align: center;
  h2 {
    font-family: $body;
    font-size: 15px;
    color: $font-grey;
    margin-top: 8px;
  }
}

.absence-decla-texte {
  text-align: center;
  h1 {
    font-family: $headers;
    font-size: 26px;
  }
}

#new_lesson {
  margin-top:20px;
}
