.absence-jour {
  background-color: $background-grey;
  border-radius: 10px;
  padding: 5px 35px;
  margin: 13px 20px 10px 20px;
  text-align: center;
  h2 {
    font-family: $body;
    font-size: 15px;
    color: $font-grey;
    margin-top: 8px;
  }
}

.absence-decla-texte {
  text-align: center;
  h1 {
    font-family: $headers;
    font-size: 26px;
  }
}
.blur-modal{
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1200;
  height: 120vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.blur-modale {
  left: 0;
  position: fixed;
  top: 0;
  z-index: 1200;
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.modale-conf{
  position:absolute;
  z-index: 1000;
  top: 250px;
  border-radius: 20px;
  padding: 5px;
  height: 280px;
  width: 300px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: $light-red;
  text-align: center;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  .sentence{
    color: #C02828;
    font-size: 20px;
    font-family: Outfit;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    padding: 20px;
  }
  .sentence-text{
    background-color: white;
    border-radius: 10px;
    padding: 13px;
    color: red;
    margin: 10px 10px 0 10px;
  }
}
