.footer {
  background-image: url('footer_2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  z-index: 999;
}

.link {
  text-align: center;
  display: flex;
  justify-content: center;
}

.emoji {
  text-decoration: none;
  margin: 9% 14%;
  font-size: 28px;
}

.color-emoji {
  color: $dark-red;
}
