.font-form {
  font-family: $body;
  color: $font-grey;
}

.form-action-2 {
  margin-top: -40px;
  text-align: center;
}

.form-inputs-signin select{
  border: solid 1px grey;
  border-radius: 2px;
  height: 38px;
  width: 100%;
}
