.font-form {
  font-family: $body;
  color: $font-grey;
}

.form-action-2 {
  margin-top: -40px;
  text-align: center;
}

.form-inputs-signin select{
  background-color: #f4f4f4;
  border: solid 1px #ced4da;
  border-radius: 2px;
  height: 38px;
  width: 100%;
}

.form-inputs-signin select.req {
  background-color: #f4f4f4;
  border: solid 1px red;
  border-radius: 2px;
  height: 38px;
  width: 100%;
}
