.logo {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-img {
  width: 140px;
  border-radius: 100%;
  border: solid 2px $medium-red;
  z-index: 1;
}

.logo-img-home {
  width: 100px;
  border-radius: 100%;
  border: solid 3px $medium-red;
  margin-right: 35px;
}
